# use config.DevConfig for development and config.ProductionConfig for deployment
DEV_DEP=config.DevConfig

# salt token used in salting passwords (extra protection ;) )
SALT=salt123

# session lifetime in days, hours, and minutes
SESSION_LIFETIME_DAYS=24
SESSION_LIFETIME_HOURS=0
SESSION_LIFETIME_MINUTES=0

# use a strong csrf_key and secret_key (they CAN be different)
CSRF_SESSION_KEY=csrf_session_key
SECRET_KEY=secret_key


# mysql database uri (only used in deployment)
# type in this format: mysql+pymysql://USERNAME:PASSWORD@HOST:POST/mydb
# don't forget to create the database in mysql admin panel manualy, as
# sqlalchemy can't do it.
DATABASE_URI = ""


# hash the password you want to set for admin using sha256 
# algorithm and then paste the hex digest of hash here (no salting)
ADMIN_PASSWORD_HASHED=""
# example:
# ADMIN_PASSWORD_HASHED=ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f # hash for b"12345678"