<nav>
    <a href="{{ url_for('home.home') }}"  class="float-right">صفحه اصلی</a>
    {% if not session.get("username") %}
        <a href="{{ url_for('users.login') }}" class="float-right">ورود</a>
    {% else %}
        <a href="{{ url_for('users.dashboard') }}" class="float-right">حساب کاربری</a>
        <a href="{{ url_for('users.logout') }}" class="float-right">خروج از حساب کاربری</a>
        <a href="{{ url_for('users.azmoon') }}" class="float-right">آزمون</a>
        <a href="{{ url_for('users.results') }}" class="float-right">کارنامه ها</a>
    {% endif %}
    <a href="{{ url_for('admin.admin_homepage') }}" class="float-right">پنل ادمین</a>
    <a href="{{ url_for('teacher.dashboard') }}" class="float-right">پنل معلم</a>
</nav>