<nav>
    <a href="{{ url_for('home.home') }}">صفحه اصلی</a>
    {% if not session.get("username") %}
        <a href="{{ url_for('users.login') }}">ورود</a>
    {% else %}
        <a href="{{ url_for('users.dashboard') }}">حساب کاربری</a>
        <a href="{{ url_for('users.logout') }}">خروج از حساب کاربری</a>
        <a href="{{ url_for('users.azmoon') }}">آزمون</a>
        <a href="{{ url_for('users.results') }}">کارنامه ها</a>
    {% endif %}
    <a href="{{ url_for('admin.admin_homepage') }}">پنل ادمین</a>
    <a href="{{ url_for('teachers.dashboard') }}">پنل معلم</a>
</nav>