{% extends "base.html" %}

    {% block title %}افزودن سوال تشریحی{% endblock %}

    {% block content %}
    <h1>افزودن سوال تشریحی</h1>
    {% include 'form-errors.html' %}
    <a class="blue-button" href="{{url_for('teachers.questions', id=exam_id)}}">بازگشت</a>
<div>
<form action="{{url_for('teachers.add_desc', exam_id=exam_id)}}" enctype="multipart/form-data" method="POST">
            {{form.csrf_token}}
            {{form.text.label}}: {{form.text}}
            <br/>
            {{form.desc_answer.label}}: {{form.desc_answer}}
            <br/>
            {{form.photo.label}}
            <br/>
            {{form.photo(id="image")}}
            <br/>
<i>فقط فرمت های jpg, webp, png پذیرفته است.</i>
<br/>
<img alt="Image preview" id="preview"/>
<input class="green-button" type="submit" value="ثبت سوال"/>
</form>
</div>
<script>
        const input = document.getElementById("image");
        const preview = document.getElementById("preview");

        input.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = "block";
            };

            reader.readAsDataURL(file);
          }
        });
        </script>
    {% endblock %}
    