<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>ورود به پنل معلم</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
<h1>اطلاعات خود را وارد کنید:</h1>
{% include 'flash-messages.html' %}
{% include 'form-errors.html' %}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}: {{ form.username }}
    <br>
    {{ form.password.label }}: {{ form.password }}
    <br>
    {{ form.submit }}

</form>
</body>
</html>