<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تغییر اطلاعات دانش اموز</title>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
{% include 'form-errors.html' %}
<h1>تغییر اطلاعات و رمز عبور دانش اموز</h1>
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}: {{ form.username }}
    <br>
    {{ form.name.label }}: {{ form.name }}
    <br>
    {{ form.email.label }}: {{ form.email }}
    <br>
    {{ form.password.label }}: {{ form.password }}
    <br>
    <input type="submit" value="تغییر اطلاعات">
</form>
</body>
</html>