{% extends "base.html" %}

    {% block title %}تغییر اطلاعات دانش اموز{% endblock %}

    {% block content %}
    {% include 'form-errors.html' %}
<h1>تغییر اطلاعات دانش اموز</h1>
<a class="blue-button" href="{{url_for('teachers.dashboard')}}">بازگشت</a>
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}: {{ form.name }}
    <br/>
    {{ form.email.label }}: {{ form.email }}
    <br/>
<input type="submit" value="تغییر اطلاعات" class="green-button"/>
</form>
    {% endblock %}
    