{% extends "base.html" %}

    {% block title %}تغییر مشخصات آزمون{% endblock %}

    {% block content %}
    <h1>مشخصات آزمون را در اینجا تغییر دهید</h1>
{% include 'form-errors.html' %}
<br/>
<a class="blue-button" href="{{url_for('teachers.dashboard')}}">بازگشت</a>
<form action="" dir="auto" method="POST">
    {{ form.csrf_token }}
    {{ form.azmoon_name.label }}: {{ form.azmoon_name }}
    <br/>
    {{ form.users.label }} (نام کاربری ها را با اینتر جدا کنید): {{ form.users }}
    <br/>
    {{ form.is_available.label }}: {{ form.is_available }}
    <br/>
<input type="submit" value="تغییر اطلاعات آزمون" class="green-button"/>
</form>
    {% endblock %}
    