<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر متن سوال</title>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
    {% include 'flash-messages.html' %}
    <form method="post" action="">
        {{ form.csrf_token }}
        {{ form.title.label }}: {{ form.title }}
        <input type="submit" value="ثبت تغییرات">
    </form>
    <div>
    <h2>گزینه ها</h2>
        {% for choice in choices %}
            <p>{{ choice.text }}
            </p>
        {% endfor %}
    </div>
</body>
</html>