<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تغییر اطلاعات دانش اموز</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include 'form-errors.html' %}
{% include 'flash-messages.html' %}
<h1>تغییر اطلاعات دانش اموز</h1>
<a href="{{url_for('teachers.dashboard')}}" class="green-button">بازگشت</a>
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}: {{ form.name }}
    <br>
    {{ form.email.label }}: {{ form.email }}
    <br>
    <input type="submit" value="تغییر اطلاعات">
</form>
</body>
</html>