<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>سوالات آزمون {{exam.name}}</title>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
<h1>سوالات آزمون {{exam.name}}</h1>
{% include 'flash-messages.html' %}
<a href="{{ url_for('teachers.dashboard') }}">بازگشت به صفحه اصلی</a>
<div>
    <a href="{{ url_for('teachers.add_question', exam_id=exam.id) }}">افزودن سوال</a>
    <br>
    {% for question in questions %}
    شناسه: {{ question.id }}
        <br>
    عنوان: {{ question.title }}
        <br>
        <div>
            <h2>گزینه ها</h2>
            <a href="{{ url_for('teachers.add_choice', exam_id=exam.id, q_id=question.id) }}">ثبت گزینه</a>
            {% for choice in choices[question.id] %}
                <p>{{ choice.text }}
                {% if choice.is_correct %}
                    <span>(گزینه درست)</span>
                {% endif %}
                </p>
                <form action="{{ url_for('teachers.delete_option',
                                         exam_id=exam.id, q_id=question.id, option_id=choice.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="submit" value="حذف گزینه">
                </form>
            {% endfor %}
        </div>
        <form action="{{ url_for('teachers.delete_question', exam_id=exam.id, q_id=question.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="submit" value="حذف سوال">
        </form>
        <a href="{{ url_for('teachers.modify_question', exam_id=exam.id, q_id=question.id) }}">تغییر متن سوال</a>
        <hr>
    {% endfor %}
    {% if not questions %}
	<p>سوالی یافت نشد!</p>
    {% endif %}
</div>
</body>
</html>