{% extends "base.html" %}

    {% block title %}ثبت آزمون{% endblock %}

    {% block content %}
    {% include 'form-errors.html' %}
<a class="blue-button" href="{{ url_for('teachers.dashboard') }}">بازگشت</a>
<form action="" method="POST">
    {{ form.csrf_token }}
    {{ form.azmoon_name.label }}: {{ form.azmoon_name }}
    <br/>
    <select id="studentsCombo">
        <option value="">-- انتخاب دانش‌آموز --</option>

        {% for student in students_json %}
            <option value="{{ student }}">
                {{ student }}
            </option>
        {% endfor %}
    </select>

    {{ form.users.label(for="usersField") }} (نام کاربری ها را با اینتر جدا کنید): {{ form.users(id="usersField") }}
    <br/>
    <label for="allStudents">انتخاب تمام دانش اموز ها</label>
    <input type="checkbox" id="allStudents"/>
    <br/>
    {{ form.exam_type.label }}: {{ form.exam_type(style="list-style-type:none") }}
    <p style="border: 2px solid black; width: 100%;">
        توجه داشته باشید امکان تغییر نوع ازمون پس از ثبت ان وجود ندارد.
    </p>
<input type="submit" value="ثبت آزمون" class="green-button"/>
</form>
<script>
const combo = document.getElementById("studentsCombo");
const usersField = document.getElementById("usersField");
const checkbox = document.getElementById("allStudents");

combo.addEventListener("change", function () {
    const student = this.value;

    let currentStudents = usersField.value
        .split(/\r?\n/)
        .map(name => name.trim())
        .filter(name => name !== "");

    if (student && !currentStudents.includes(student)) {
        currentStudents.push(student);
    }

    usersField.value = currentStudents.join("\n");
    this.value = "";
});

checkbox.addEventListener("change", function () {
    if (this.checked) {
        const values = Array.from(combo.options)
            .map(option => option.value)
            .filter(value => value !== "");

        usersField.value = values.join("\n");
    }
});
</script>
    {% endblock %}
    