<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت کاربر جدید</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
</head>
<body>
{% include 'form-errors.html' %}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}: {{ form.username }}
    <br>
    {{ form.email.label }}: {{ form.email }}
    <br>
    {{ form.name.label }}: {{ form.name }}
    <br>
    <div>
        <pre dir="rtl">رمز عبور کاربر جدید به این صورت تنظیم میشود:
        <span dir="ltr"># + username + 123</span></pre>
    </div>
    {{ form.submit() }}
</form>
</body>
</html>