{% extends "base.html" %}

    {% block title %}ثبت کاربر جدید{% endblock %}

    {% block content %}
    {% include 'form-errors.html' %}
<a class="green-button" href="{{url_for('teachers.dashboard')}}">بازگشت</a>
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}: {{ form.username }}
    <br/>
    {{ form.email.label }}: {{ form.email }}
    <br/>
    {{ form.name.label }}: {{ form.name }}
    <br/>
<div>
<pre dir="rtl">رمز عبور کاربر جدید به این صورت تنظیم میشود:
        <span dir="ltr">#(نام کاربری)123</span></pre>
</div>
    {{ form.submit() }}
</form>
    {% endblock %}
    