<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>پنل معلم</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h1>شما در صفحه ی معلم هستید.</h1>
<div>
    <h2>آزمون ها</h2>
    <p>آزمونی یافت نشد!</p>
</div>
<div>
    <h2>سوالات</h2>
    <p>سوالی یافت نشد!</p>
</div>
<div>
    <h2>پاسخ ها</h2>
    <p>پاسخ دانش اموزی یافت نشد!</p>
</div>
<div>
    <h2>کاربران</h2>
    <p>دانش آموزی یافت نشد!</p>
</div>
<div>
    <h2>کارنامه</h2>
    <p>کارنامه ای یافت نشد!</p>
</div>
</body>
</html>