<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>پنل معلم</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h1>شما در صفحه ی معلم هستید.</h1>
<div>
    <h2>کاربران</h2>
    <p>دانش آموزی یافت نشد!</p>
</div>
<div>
    <h2>آزمون ها & سوالات</h2>
    <a href="{{ url_for('teachers.register_azmoon') }}">ثبت آزمون جدید</a>
    <div>
        {% for exam in exams %}
        	<div>
            شناسه:{{ exam.id }}
            نام آزمون: {{ exam.name }}
            <a href="{{ url_for("teachers.modify_azmoon", id=exam.id) }}">تغییر نام و مشخصات</a>
            <form action="{{ url_for("teachers.delete_azmoon", id=exam.id) }}" method="post">
                <input type="submit" value="حذف">
            </form>
            </div>
        {% endfor %}
        {% if not exams %}
            <p>آزمونی یافت نشد!</p>
        {% endif %}
    </div>
</div>
<div>
    <h2>پاسخ ها</h2>
    <p>پاسخ دانش اموزی یافت نشد!</p>
</div>
<div>
    <h2>کارنامه ها</h2>
    <p>کارنامه ای یافت نشد!</p>
</div>
</body>
</html>