{% extends "base.html" %}

    {% block title %}پنل معلم{% endblock %}

    {% block content %}
    <h1>شما در صفحه ی معلم هستید.</h1>
<div>
<a class="green-button" href="{{ url_for('teachers.update_password') }}">بروز رسانی رمز عبور</a>
<br/>
<form action="{{ url_for('teachers.log_out') }}" method="post">
<input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
<input class="red-button" type="submit" value="خروج از حساب کاربری معلم"/>
</form>
</div>
{{ remaining|safe }}
<div>
<h2>کاربران</h2>
<a class="green-button" href="{{ url_for('teachers.register_user') }}">ثبت کاربر جدید</a>
<input id="usersSearch" placeholder="جست و جوی کاربر..." style="text-align: center;" type="text"/>
<table>
<tr>
<th>شناسه</th>
<th>نام کاربری</th>
<th>نام واقعی</th>
<th>ایمیل</th>
<th>گزینه ها</th>
</tr>
<tbody id="usersDiv">
            {% for user in users %}
            <tr>
<td>
                {{ user.id }}
                    </td>
<td>{{ user.username }}</td>
<td>{{ user.name }}</td>
<td>{{ user.email }}</td>
<td><a class="green-button" href="{{ url_for('teachers.modify_user', id=user.id) }}">تغییر اطلاعات</a>
<form action="{{ url_for('teachers.delete_user', id=user.id) }}" method="post">
<input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
<input class="red-button" type="submit" value="حذف دانش اموز"/>
</form></td>
</tr>
            {% endfor %}
        </tbody>
        {% if not users %}
            <p>کاربری یافت نشد!</p>
        {% endif %}
    </table>
<p id="usersNotFound" style="display: none;">
        دانش اموز یافت نشد.
    </p>
</div>
<div>
<h2>آزمون ها &amp; سوالات</h2>
<a class="green-button" href="{{ url_for('teachers.register_azmoon') }}">ثبت آزمون جدید</a>
<input id="examsSearch" placeholder="جست و جو در جدول..." style="text-align: center;" type="text"/>
<table>
<tr>
<th>شناسه</th>
<th>نام آزمون</th>
<th>وضعیت</th>
<th>گزینه ها</th>
</tr>
<tbody id="examsDiv">
            {% for exam in exams %}
            <tr>
<td>{{ exam.id }}</td>
<td>{{ exam.name }}</td>
<td style="background-color: {{'#00ff00' if exam.is_available else '#ff8000'}}">{{ "ثبت شده" if exam.is_available else "ثبت نشده" }}</td>
<td>
<a class="green-button" href="{{ url_for('teachers.modify_azmoon', id=exam.id) }}">تغییر نام و مشخصات</a>
<form action="{{ url_for('teachers.delete_azmoon', id=exam.id) }}" method="post">
<input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
<input class="red-button" type="submit" value="حذف"/>
</form>
<a class="green-button" href="{{ url_for('teachers.questions', id=exam.id) }}">سوالات آزمون</a>
</td>
</tr>
            {% endfor %}
        </tbody>
        {% if not exams %}
            <p>آزمونی یافت نشد!</p>
        {% endif %}
    </table>
<p id="examsNotFound" style="display: none;">
        آزمون یافت نشد.
    </p>
</div>
<div>
<h2>پاسخ ها</h2>
<input id="answersSearch" placeholder="جست و جو در جدول..." style="text-align: center;" type="text"/>
<div>
<table>
<tr>
<th>نام آزمون</th>
<th>نام دانش آموز</th>
<th>سوال</th>
<th>جواب</th>
</tr>
<tbody id="answersTable">
            {% for answer in answers %}
                <tr>
<td>{{ answer['exam_name'] }}</td>
<td>{{ answer['stdname'] }}</td>
<td>{{ answer['question'] }}</td>
<td class="{{ answer['is_correct'] }}">{{ answer['answer'] }}</td>
</tr>
            {% endfor %}
            </tbody>
</table>
<div id="answersNotFound" style="display: none; direction: rtl;">
            چیزی یافت نشد.
        </div>
</div>
</div>
<div>
<h2>کارنامه ها</h2>
<input id="resultSearch" placeholder="جست و جو در جدول..." style="text-align: center;" type="text"/>
<div>
<table>
<tr>
<th>نام آزمون</th>
<th>نام دانش اموز</th>
<th>درصد</th>
</tr>
<tbody id="resultTable">
            {% for result in results %}
                <tr>
<td>{{ result["examname"] }}</td>
<td>{{ result["stdname"] }}</td>
<td dir="ltr">{{ round_function(result["percent"], 2) }}</td>
</tr>
            {% endfor %}
            </tbody>
</table>
</div>
<div id="resultNotFound" style="display: none; direction: rtl;">
        چیزی یافت نشد.
    </div>
</div>
<div>
<input id="stateSearch" placeholder="جست و جو در جدول..." style="text-align: center;" type="text"/>
<h2>وضعیت دانش آموزان</h2>
<div>
<table>
<tr>
<th>نام آزمون</th>
<th>نام کاربری دانش اموز</th>
<th>نام دانش اموز</th>
<th>وضعیت</th>
</tr>
<tbody id="stateTable">
            {% for state in states %}
                <tr>
<td>{{ state["exam_name"] }}</td>
<td>{{ state["username"] }}</td>
<td>{{ state["student_name"] }}</td>
<td>
                    {% if state["current"] == "NOT_SUBMITTED" %}
                    هنوز آزمون نداده است.
                        <form action="{{ url_for('teachers.send_mail', user_id=state['id']) }}" method="POST">
<input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
<input type="submit" value="ارسال ایمیل"/>
</form>
                    {% else %}
                    {{ state["current"] }}
                    {% endif %}
                    </td>
</tr>
            {% endfor %}
            </tbody>
</table>
</div>
<div id="stateNotFound" style="display: none; direction: rtl;">
        چیزی یافت نشد.
    </div>
</div>
<script>
    function makeSearch(searchId, tableBodyId, notFoundId) {

    const search = document.getElementById(searchId);
    const tableBody = document.getElementById(tableBodyId);
    const rows = tableBody.querySelectorAll("tr");
    const notFound = document.getElementById(notFoundId);

    search.addEventListener("input", function () {

        const value = this.value.toLowerCase().trim();
        let visible = 0;

        rows.forEach(function (row) {

            const text = row.innerText.toLowerCase();

            if (text.includes(value)) {
                row.style.display = "";
                visible++;
            } else {
                row.style.display = "none";
            }

        });

        notFound.style.display = visible === 0 ? "block" : "none";

    });

}

makeSearch("answersSearch", "answersTable", "answersNotFound");
makeSearch("resultSearch", "resultTable", "resultNotFound");
makeSearch("stateSearch", "stateTable", "stateNotFound");
makeSearch("usersSearch", "usersDiv", "usersNotFound");
makeSearch("examsSearch", "examsDiv", "examsNotFound");
    {% endblock %}
    
