<!DOCTYPE html>
<html>
    <head>
        <title>مدیریت معلمان</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    </head>
    <body>
        <h1>ثبت، حذف یا تفییر معلمان</h1>
        {% include 'flash-messages.html' %}
        <div>
            <a href="{{ url_for('admin.register_teacher') }}">ثبت معلم جدید</a>
            <section>
                <h2>لیست معلمان</h2>
                <hr>
                {% if teachers %}
                    {% for teacher in teachers %}
                        <div>
                            نام کاربری: {{ teacher["username"] }}
                            <br>
                            {% if len(teacher["students"]) %}
                            نام دانش اموزان: {{ ", ".join(teacher["students"]) }}
                            {% else %}
                            دانش اموزی برای این معلم ثبت نشده است.
                            {% endif %}
                            <br>
                            <form method="post" action="{{ url_for('admin.remove_teacher',
                                    teacher_id=teacher.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="submit" value="حذف معلم">
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>معلمی یافت نشد!</p>
                {% endif %}
            </section>
        </div>
    </body>
</html>