{% extends "base.html" %}
{% block title %}مدیریت معلمان{% endblock %}
{% block content %}
        <h1>ثبت، حذف یا تفییر معلمان</h1>
        <a href="{{url_for('admin.admin_homepage')}}" class="blue-button">بازگشت</a>
        <div>
            <a href="{{ url_for('admin.register_teacher') }}" class="green-button">ثبت معلم جدید</a>
            <section>
                <h2>لیست معلمان</h2>
                <hr>
                {% if teachers %}
                    {% for teacher in teachers %}
                        <div>
                            نام کاربری: {{ teacher["username"] }}
                            <br>
                            {% if len(teacher["students"]) %}
                            نام دانش اموزان: {{ ", ".join(teacher["students"]) }}
                            {% else %}
                            دانش اموزی برای این معلم ثبت نشده است.
                            {% endif %}
                            <br>
                            <form method="post" action="{{ url_for('admin.remove_teacher',
                                    teacher_id=teacher.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <input type="submit" value="حذف معلم" class="red-button">
                            </form>
                            <form method="post" action="{{ url_for('admin.modify_teacher',
                                    teacher_id=teacher.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <label for="limit">محدودیت دانش اموزان (برای برداشتن محدودیت عدد <span style="direction: ltr;">-1</span> را وارد کنید): </label>
                                <input type="number" name="limit" value="{{ teacher['limit'] }}" id="limit" style="direction: ltr; max-width: 300px;" min="-1">
                                <input type="submit" value="تغییر محدودیت" class="red-button">
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>معلمی یافت نشد!</p>
                {% endif %}
            </section>
        </div>
{% endblock %}
