{% extends "base.html" %}

{% block title %}ثبت معلم جدید{% endblock %}

{% block content %}
    <a href="{{ url_for('admin.admin_homepage') }}" class="blue-button">بازگشت به صفحه اصلی</a>
    <h1>اطلاعات معلم جدید را وارد کنید:</h1>
    {% include "flash-messages.html" %}
    {% include "form-errors.html" %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.username.label }}: {{ form.username }}
        <br>
        {{ form.password.label }}: {{ form.password }}
        <br>
        {{ form.limit.label }}(برای حذف محدودیت عدد -1 را وارد کنید): {{ form.limit }}
        <input type="submit" value="ثبت معلم جدید" class="red-button">
    </form>
{% endblock %}