<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت گزینه برای سوال</title>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
{% include 'form-errors.html' %}
<form method="POST" action="" novalidate="novalidate">
    {{ form.csrf_token }}
    آی دی سوال: {{ form.question_id }}
    <br>
    متن گزینه: {{ form.text }}
    <br>
    ایا این گزینه جواب درست است؟
    <br>
    بله {{ form.is_correct }}
    <br>
    <input type="submit" value="ثبت گزینه">
</form>
</body>
</html>